<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="Anatoly Yakimchuk">

<link rel="icon" href="favicon.ico" th:href="@{/favicon.ico} type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" th:href="@{/favicon.ico} type="image/x-icon">

<title>Welcome to CLEB - Cool library for e-books!</title>

<!-- Google font for library title -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

<!-- Google font for quote -->
<link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script:700|Great+Vibes" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../../css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}">

<link rel="stylesheet" href="../../css/cleb.css" th:href="@{/css/cleb.css}">

</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Read</a></li>
          <li role="presentation"><a href="login">Login</a></li>
          <li role="presentation"><a href="register">Register</a></li>
        </ul>
      </nav>
      <h3 class="text-muted clebtitle">Cool library for e-books</h3>
    </div>

    <div class="jumbotron">
      <h2 class="quotetext" th:text="${quote}">quote</h2>
      <h4 th:text="'-' + ${author}">author</h4>
      <p class="lead">
        A book is a map in one's journey and a good book is like a light in darkness. Join <span class="clebtitle">Cool
          library for e-books</span> and start your journey today!
      </p>

      <table class="tablebuts">
        <tr>
          <td>
            <p>
              <a class="btn btn-lg btn-success tablebut" href="register" role="button">Join library!</a>
            </p>
          </td>

          <td>
            <p>
              <a class="btn btn-lg btn-success tablebut" href="library" role="button">Go to library</a>
            </p>
          </td>
        </tr>
      </table>

    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Explore</h4>
        <p>Search for a books uploaded by a community and find something new for you.</p>

        <h4>Upload</h4>
        <p>Upload yours favourite books and watch as the library grows.</p>

        <h4>Read</h4>
        <p>Read wherever you are books you want.</p>
      </div>

      <div class="col-lg-6">
        <h4>Share</h4>
        <p>Share books you like with others and show your thoughts about books you've read.</p>

        <h4>Download</h4>
        <p>Download books to your device or send it via email.</p>

        <h4>More to come...</h4>
        <p>Come here regularly to see new fancy updates!</p>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; 2016 Anatoly Yakimchuk.</p>
    </footer>

  </div>
  <!-- /container -->

</body>
</html>
