<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="Anatoly Yakimchuk">

<link rel="icon" href="../../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="shortcut icon" href="../../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">

<title>Welcome to CLEB - Cool library for e-books!</title>

<!-- Google font for library title -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

<!-- Google font for quote -->
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../../css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}">

<!-- Custom CLEB css -->
<link rel="stylesheet" href="../../css/cleb.css" th:href="@{/css/cleb.css}">
<link rel="stylesheet" href="../../css/cleb-index.css" th:href="@{/css/cleb-index.css}">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap core JS -->
<script type="text/javascript" src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- Bootstrap JS for tabs -->
<script type="text/javascript" src="../../js/tab.js" th:src="@{/js/tab.js}"></script>


</head>

<body>

  <!-- page container -->
  <div class="container">

    <!-- nav bar -->
    <div class="header clearfix">
      <a href="index"><h3 class="text-muted pull-left clebtitle">Cool library for e-books</h3></a>
      <nav>
        <ul class="nav nav-pills pull-left">
          <li role="presentation"><a href="library">Library</a></li>
          <li role="presentation"><a href="upload">Upload</a></li>
        </ul>

        <ul class="nav nav-pills pull-right" th:if="${#strings.isEmpty(username)}">
          <li role="presentation"><a href="login">Login</a></li>
          <li role="presentation"><a href="register">Register</a></li>
        </ul>

        <ul class="nav nav-pills pull-right" th:if="${not #strings.isEmpty(username)}">
          <!-- Add link to personal user page -->
          <li role="presentation"><a href="" th:text="${username}">username</a></li>
          <li role="presentation"><a href="login?logout=true">Logout</a></li>
        </ul>
      </nav>
    </div>
    <!-- /nav bar -->

    <div class="jumbotron">

      <h2 class="ciquotetext" th:text="${quote}">quote</h2>
      <h4 th:text="'-' + ${author}">author</h4>
      <p class="lead">
        A book is a map in one's journey and a good book is like a light in darkness. Join <span class="clebtitle">'Cool
          library for e-books'</span> and start your journey today!
      </p>

      <table class="cibutons">
        <tr>
          <td>
            <p>
              <a class="btn btn-lg btn-success citablebtn" href="register" role="button">Join library!</a>
            </p>
          </td>

          <td>
            <p>
              <a class="btn btn-lg btn-success citablebtn" href="library" role="button">Go to library</a>
            </p>
          </td>
        </tr>
      </table>

    </div>

    <!-- Tabs with 3 latest uploaded books -->
    <h2 class="ciheader">Check out latest uploads:</h2>

    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <div class="cicover">
              <object class="cicover" data="cover.png" th:data="@{/covers/} + ${books[0].coverName}">
                <img src="../../icons/bookph.png" th:src="@{/icons/bookph.png}">
              </object>
            </div>
        </a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <div class="cicover">
              <object class="cicover" data="cover.png" th:data="@{/covers/} + ${books[1].coverName}">
                <img src="../../icons/bookph.png" th:src="@{/icons/bookph.png}">
              </object>
            </div>
        </a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
            <div class="cicover">
              <object class="cicover" data="cover.png" th:data="@{/covers/} + ${books[2].coverName}">
                <img src="../../icons/bookph.png" th:src="@{/icons/bookph.png}">
              </object>
            </div>
        </a></li>
      </ul>
      <!-- /Nav tabs -->

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <h2 class="cititle" th:text="${books[0].title}">title</h2>
          <h3 class="ciauthor">
            <span th:text="${books[0].authorFirstName + ' ' + books[0].authorLastName}">author</span>
          </h3>
          <p>annotation</p>
          <p>
            <a class="btn btn-default" href="#" role="button">Read &raquo;</a>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <h2 class="cititle" th:text="${books[1].title}">title</h2>
          <h3 class="ciauthor">
            <span th:text="${books[1].authorFirstName + ' ' + books[1].authorLastName}">author</span>
          </h3>
          <p>annotation</p>
          <p>
            <a class="btn btn-default" href="#" role="button">Read &raquo;</a>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <h2 class="cititle" th:text="${books[2].title}">title</h2>
          <h3 class="ciauthor">
            <span th:text="${books[2].authorFirstName + ' ' + books[2].authorLastName}">author</span>
          </h3>
          <p>annotation</p>
          <p>
            <a class="btn btn-default" href="#" role="button">Read &raquo;</a>
          </p>
        </div>
      </div>
      <!-- /Tab panes -->

    </div>
    <!-- /latest uploaded books -->

    <!-- CLEB features -->
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Explore</h4>
        <p>Search for books uploaded by a community and find something new for you.</p>

        <h4>Upload</h4>
        <p>Upload your favorite books and watch as the library grows.</p>

        <h4>Read</h4>
        <p>Read books you want wherever you are. (In progress)</p>
      </div>

      <div class="col-lg-6">
        <h4>Share</h4>
        <p>Share books you like with others and show your thoughts about books you've read. (In progress)</p>

        <h4>Download</h4>
        <p>Download books on your device or send it via email. (In progress)</p>

        <h4>More to come...</h4>
        <p>Come here regularly to see new fancy updates!</p>
      </div>
    </div>
    <!-- /CLEB features -->

    <footer class="footer">
      <p>&copy; 2016 Anatoly Yakimchuk.</p>
    </footer>

  </div>
  <!-- /page container -->

</body>
</html>
