<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="Anatoly Yakimchuk">

<link rel="icon" href="../../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="shortcut icon" href="../../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">

<title>Browse library - Cool library for e-books!</title>

<!-- Google font for library title -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../../css/jumbotron.css" th:href="@{/css/jumbotron.css}">

<!-- Custom CLEB css -->
<link rel="stylesheet" href="../../css/cleb.css" th:href="@{/css/cleb.css}">
<link rel="stylesheet" href="../../css/cleb-library.css" th:href="@{/css/cleb-library.css}">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- DataTables plugin -->
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#bookstable').dataTable({
			"bFilter" : false,
			"columnDefs" : [ {
				"targets" : 'no-sort',
				"orderable" : false
			} ]
		});
	});
</script>
<!-- /DataTables plugin -->

</head>

<body>

  <!-- page container -->
  <div class="container">

    <!-- nav bar -->
    <div class="header clearfix">
      <a href="index"><h3 class="text-muted pull-left clebtitle cllibrarytitle">Cool library for e-books</h3></a>
      <nav>
        <ul class="nav nav-pills pull-left">
          <li role="presentation"><a href="library">Library</a></li>
          <li role="presentation"><a href="upload">Upload</a></li>
        </ul>

        <ul class="nav nav-pills pull-right" th:if="${#strings.isEmpty(username)}">
          <li role="presentation"><a href="login">Login</a></li>
          <li role="presentation"><a href="register">Register</a></li>
        </ul>

        <ul class="nav nav-pills pull-right" th:if="${not #strings.isEmpty(username)}">
          <!-- Add link to personal user page -->
          <li role="presentation"><a href="" th:text="${username}">username</a></li>
          <li role="presentation"><a href="login?logout=true">Logout</a></li>
        </ul>
      </nav>
    </div>
    <!-- /nav bar -->

    <div class="jumbotron cltablediv">
      <div class="container cltablediv">
        <h2 class="cllibrarywelcome">Community library</h2>
        <p class="cllibrarywelcome">
          Browse for books uploaded by <span class="clebtitle">CLEB</span> community or <a href="upload">upload</a>
          yours!
        </p>

        <!-- search form -->
        <div class="clsearchdiv">
          <form class="navbar-form" role="search" action="library">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search CLEB" name="searchrequest"> <span
                class="input-group-btn">
                <button type="submit" class="btn btn-default">Search</button>
              </span>
            </div>
          </form>
        </div>
        <!-- /search form -->

        <!-- table with books -->
        <div>
          <table id="bookstable" class="table table-striped display">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Series</th>
                <th>Genre</th>
                <th>Published</th>
                <!-- Cover -->
                <th class="no-sort"></th>
                <!-- Read button -->
                <th class="no-sort"></th>
                <!-- Download button -->
                <th class="no-sort"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="book : ${books}">
                <td><span class="clbooktitle" th:text="${book.title}" th:title="${book.title}">title</span></td>
                <td th:text="${book.authorFirstName + ' ' + book.authorLastName}">author</td>
                <td th:text="${book.seqName}">series</td>
                <td th:text="${book.genre}">genre</td>
                <td th:text="${book.published}">published</td>

                <!--/* Access to directory outside webapp context tweaked in Tomcat's server.xml */-->
                <td>
                  <!-- Cover -->
                  <div class="clzoom" th:if="${not #strings.isEmpty(book.coverName)}">
                    <img th:src="@{/covers/} + ${book.coverName}">
                  </div>
                  <div class="clzoomoff" th:if="${#strings.isEmpty(book.coverName)}">
                    <img src="../../icons/bookph.png" th:src="@{/icons/bookph.png}">
                  </div>
                </td>

                <td>
                  <!-- Read 'button' -->
                  <div class="clicondiv">
                    <form method="post" action="read" class="inline">
                      <input type="hidden" name="filename" th:value="${book.fileName}"> <input type="hidden"
                        name="covername" th:value="${book.coverName}"> <input class="cliconimg" type="image"
                        src="../../icons/read.png" th:src="@{/icons/read.png}" th:title="Read + ' ' + ${book.title}">
                    </form>
                  </div>
                </td>

                <td>
                  <!-- Download 'button' -->
                  <div class="clicondiv">
                    <a th:href="@{/books/} +${book.fileName}"><img class="cliconimg" src="../../icons/download.png"
                      th:src="@{/icons/download.png}" th:title="Download  + ' ' + ${book.title}"></a>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <!-- /table with books -->

      </div>
    </div>

    <footer class="footer">
      <p>&copy; 2016 Anatoly Yakimchuk.</p>
    </footer>

  </div>
  <!-- /page container -->

</body>
</html>
