<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="Anatoly Yakimchuk">

<link rel="icon" href="../../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="shortcut icon" href="../../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">

<title>Upload your books to CLEB - Cool library for e-books!</title>

<!-- Google font for library title -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../../css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}">

<link rel="stylesheet" href="../../css/cleb.css" th:href="@{/css/cleb.css}">

</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted pull-left clebtitle">Cool library for e-books</h3>
      <nav>
        <ul class="nav nav-pills pull-left">
          <li role="presentation"><a href="library">Library</a></li>
          <li class="active" role="presentation"><a href="upload">Upload</a></li>
        </ul>

        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="login">Login</a></li>
          <li role="presentation"><a href="register">Register</a></li>
        </ul>
      </nav>
    </div>

    <div class="jumbotron">
      <h2>Share your books with the world!</h2>
      <p class="lead">Upload your favorite books and let others read it.</p>
      <p class="lead">Supported formats inlude .fb2 and .epub books up to 10MB size.</p>

      <form action="Uploader" method="post" enctype="multipart/form-data">
        <input class="btn btn-default btn-file uploadover" type="file" name="file">
        <br>
        <input class="btn btn-lg btn-success" type="submit" value="Upload Book">
      </form>
    </div>

    <footer class="footer">
      <p>&copy; 2016 Anatoly Yakimchuk.</p>
    </footer>

  </div>
  <!-- /container -->

</body>
</html>
