<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<!-- Hard-coded directory for logs -->
		<Property name="log-path">/mnt/sda7/servers/data/logs</Property>
	</Properties>

	<Appenders>
		<!-- Appender for logging into console -->
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg %ex{short}%n%n
				</pattern>
			</PatternLayout>
		</Console>

		<!-- Appender for saving into file -->
		<!-- For uploading package -->
		<RandomAccessFile name="Uploading-RAF-Appender" fileName="${log-path}/uploading.log">
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg %ex{short}%n%n
				</pattern>
			</PatternLayout>
		</RandomAccessFile>

		<!-- Appender for saving into file -->
		<!-- For uploading package - only ERRORs -->
		<RandomAccessFile name="Uploading-RAF-Errors-Appender" fileName="${log-path}/uploading_errors.log">
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg%n%ex%n
				</pattern>
			</PatternLayout>
		</RandomAccessFile>

		<!-- Appender for saving into file -->
		<!-- For library package -->
		<RandomAccessFile name="Library-RAF-Appender" fileName="${log-path}/library.log">
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg %ex{short}%n%n
				</pattern>
			</PatternLayout>
		</RandomAccessFile>

		<!-- Appender for saving into file -->
		<!-- For BookDAO class -->
		<!-- It will output only errors -->
		<RandomAccessFile name="BookDAO-RAF-Appender" fileName="${log-path}/bookdao.log">
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg%n%ex%n
				</pattern>
			</PatternLayout>
		</RandomAccessFile>

		<!-- Appender for saving into file -->
		<!-- For security package -->
		<RandomAccessFile name="Security-RAF-Appender" fileName="${log-path}/security.log">
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg %ex{short}%n%n
				</pattern>
			</PatternLayout>
		</RandomAccessFile>

		<!-- Appender for saving into file -->
		<!-- For security package - only ERRORs -->
		<RandomAccessFile name="Security-RAF-Errors-Appender" fileName="${log-path}/security_errors.log">
			<PatternLayout>
				<pattern>
					[%level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %M - %msg%n%ex%n
				</pattern>
			</PatternLayout>
		</RandomAccessFile>
	</Appenders>

	<Loggers>
		<!-- Logger for all events in app -->
		<Root level="ALL">
			<AppenderRef ref="Console-Appender" level="ALL" />
		</Root>

		<!-- Disable Hibernate logging -->
		<Logger name="org.hibernate" level="OFF">
		</Logger>

		<!-- Logger for uploading package -->
		<Logger name="cleb.uploading" level="ALL" additivity="TRUE">
			<AppenderRef ref="Uploading-RAF-Appender" level="ALL" />
			<AppenderRef ref="Uploading-RAF-Errors-Appender" level="ERROR" />
		</Logger>

		<!-- Logger for library package -->
		<Logger name="cleb.library" level="ALL" additivity="TRUE">
			<AppenderRef ref="Library-RAF-Appender" level="ALL" />
		</Logger>

		<!-- Logger for BookDAO class -->
		<Logger name="cleb.book.dao.BookDAO" level="ALL" additivity="TRUE">
			<AppenderRef ref="BookDAO-RAF-Appender" level="ERROR" />
		</Logger>

		<!-- Logger for security package -->
		<Logger name="cleb.security" level="ALL" additivity="TRUE">
			<AppenderRef ref="Security-RAF-Appender" level="ALL" />
			<AppenderRef ref="Security-RAF-Errors-Appender" level="ERROR" />
		</Logger>
	</Loggers>
</Configuration>