/* Make title the same height as the navigation */
.crlibrarytitle {
	margin-top: 0;
	margin-bottom: 40px;
	line-height: 40px;
}

/* Center cover */
.crcoverdiv {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0px;
	height: 350px;
}

.crcoverimg {
	margin-left: auto;
	margin-right: auto;
	height: 350px;
}

/* Add vertival scrollbar */
.crscroll {
	overflow-y: auto;
	height: 600px;
}