<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- Hard-coded place to temporarily store uploaded books -->
	<context-param>
		<param-name>file-temp-upload</param-name>
		<param-value>/mnt/sda7/servers/data/Books/temp/</param-value>
		<description>Location to temporarily store uploaded books</description>
	</context-param>

	<!-- Hard-coded place to store uploaded books -->
	<context-param>
		<param-name>file-store</param-name>
		<param-value>/mnt/sda7/servers/data/Books/</param-value>
		<description>Location to store uploaded books</description>
	</context-param>

	<!-- Hard-coded place to store books covers -->
	<context-param>
		<param-name>book-covers</param-name>
		<param-value>/mnt/sda7/servers/data/Books/covers/</param-value>
		<description>Location to store uploaded books</description>
	</context-param>

	<!-- PostgreSQL db -->
	<context-param>
		<param-name>database</param-name>
		<param-value>jdbc:postgresql://localhost:5432/cleb</param-value>
		<description>URL for connection to db</description>
	</context-param>

	<!-- PostgreSQL user -->
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>clebadmin</param-value>
		<description>database user</description>
	</context-param>

	<!-- PostgreSQL user password -->
	<context-param>
		<param-name>dbpass</param-name>
		<param-value>admincleb</param-value>
		<description>database user password</description>
	</context-param>

	<!-- Shiro mapping -->
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>Uploader</servlet-name>
		<display-name>Uploader</display-name>
		<description></description>
		<servlet-class>cleb.uploading.Uploader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DuplicateChecker</servlet-name>
		<display-name>DuplicateChecker</display-name>
		<description></description>
		<servlet-class>cleb.uploading.DuplicateChecker</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FB2Validator</servlet-name>
		<display-name>FB2Validator</display-name>
		<description></description>
		<servlet-class>cleb.uploading.validating.FB2Validator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FB2Saver</servlet-name>
		<display-name>FB2Saver</display-name>
		<description></description>
		<servlet-class>cleb.uploading.saving.FB2Saver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EPUBValidator</servlet-name>
		<display-name>EPUBValidator</display-name>
		<description></description>
		<servlet-class>cleb.uploading.validating.EPUBValidator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EPUBSaver</servlet-name>
		<display-name>EPUBSaver</display-name>
		<description></description>
		<servlet-class>cleb.uploading.saving.EPUBSaver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthStarter</servlet-name>
		<display-name>AuthStarter</display-name>
		<description></description>
		<load-on-startup>0</load-on-startup>
		<servlet-class>cleb.security.AuthStarter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>cleb.security.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>cleb.security.servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Uploader</servlet-name>
		<url-pattern>/Uploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DuplicateChecker</servlet-name>
		<url-pattern>/DuplicateChecker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FB2Validator</servlet-name>
		<url-pattern>/FB2Validator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FB2Saver</servlet-name>
		<url-pattern>/FB2Saver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EPUBValidator</servlet-name>
		<url-pattern>/EPUBValidator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EPUBSaver</servlet-name>
		<url-pattern>/EPUBSaver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthStarter</servlet-name>
		<url-pattern>/AuthStarter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
